.container {
  background: rgb(247, 244, 244);
  border-radius: 1rem;
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
}

.loading {
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
}

.error {
  color: red;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
}
