.amountSummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amountSummary h2 {
  font-weight: 500;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 0.8rem;
}

.btns button {
  padding: 0.5rem 1rem;
  color: brown;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 1px solid brown;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: brown;
  color: white;
}
